<div class="container flex flex-wrap justify-center h-20 m-auto mt-6">
  <div class="flex flex-wrap w-3/5 bg-white border rounded-sm">
    
    <div class="flex justify-center w-full ml-4 mr-4">
      <h1 class="mt-6 mb-6 text-2xl font-bold text-center text-blue-700">Create an account to access cooperative trustee management</h1>
    </div>

    <div class="flex flex-wrap w-full">
      
      <div class="flex items-center justify-center w-1/2 mb-2 h-max">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            
            <%= f.text_field :fullname, autofocus: true, autocomplete: "full-name", placeholder: "Fullname",  class:"bg-gray-200 rounded-sm h-10 pl-2 mb-2" %>
          </div>

          <div class="field">
           
            <%= f.email_field :email, autocomplete: "email", placeholder: "Email",  class:"bg-gray-200 rounded-sm h-10 pl-2 mb-2" %>
          </div>

          <div class="field">
            
            
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password",  class:"bg-gray-200 rounded-sm h-10 pl-2 " %>
          </div>
            
            <% if @minimum_password_length %>
            <em class="text-sm text-gray-700">(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            
          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password",  class:"bg-gray-200 rounded-sm h-10 pl-2 mb-2" %>
          </div>

          <div class="flex items-center justify-end mt-2">
            <div class="mr-2 text-sm text-gray-500">
              <%= render "devise/shared/links" %>
            </div> 
            <div class="actions">
              <%= f.submit "Sign-up", class:"btn btn-blue btn-small" %>
            </div>
          </div>

        <% end %>

        
</div>
        <%= image_tag "visuel-devenir-copro.svg", class:"w-1/2 flex pr-2 pl-2 pt-2 pb-8" %>
      
    </div>
  </div>
</div>
