<p id="notice"><%= notice %></p>

<h1>Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Date invoice</th>
      <th>Company</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Paid</th>
      <th>Expense</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.date_invoice %></td>
        <td><%= invoice.company %></td>
        <td><%= invoice.description %></td>
        <td><%= invoice.amount %></td>
        <td><%= invoice.paid %></td>
        <td><%= invoice.expense_id %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
