<div class="flex flex-wrap items-center justify-start flex-1 h-20 pl-2 mt-4 border rounded-sm" >
  <div class="flex flex-wrap flex-1 w-full">
  <%= link_to condo_property_path(property.condo, property) do %>
  <%#= debug property.id %>
    <span class="font-semibold text-gray-700">Etage : <%= property.floor %> </span>
  <% end %>
    <div class="flex flex-wrap items-center flex-1 w-full ml-4 text-sm text-gray-600">
    - Surface : <%= property.surface %> m2
    - Condo : <%= property.condo.name %>
    </div>
  </div>


  <% if author_of(property) %>
  <div class="flex flex-wrap items-center justify-end">
    <%= link_to edit_condo_property_path(property.condo, property), class:"mr-2" do %>
      <%= render_svg "icons/edit" %>
    <% end %>
    <%= link_to condo_property_path(property.condo, property), method: :delete, data: { confirm: 'Are you sure?' }, class:"mr-2" do %>
      <%= render_svg "icons/delete" %>
    <% end %>
  </div>
  <% end %>

</div>

    