<% content_for :primary_content do %>

  <h1>Properties</h1>

  <table>
    <thead>
      <tr>
        <th>Address</th>
        <th>Floor</th>
        <th>Surface</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @properties.each do |property| %>
        <tr>
          <td><%= property.address %></td>
          <td><%= property.floor %></td>
          <td><%= property.surface %></td>
          <td><%= link_to 'Show', property, class:"btn btn-small" %></td>
          <td><%= link_to 'Edit', edit_property_path(property) %></td>
          <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>


<% content_for :secondary_content do %>

  <%= link_to 'New Property', new_property_path, class:"btn btn-small btn-purple" %>

<% end %>

<%= render "basic_layout" %>