<% content_for :primary_content do %>

  <p>
    <strong>Address:</strong>
    <%= @property.address %>
  </p>

  <p>
    <strong>Floor:</strong>
    <%= @property.floor %>
  </p>

  <p>
    <strong>Surface:</strong>
    <%= @property.surface %> m2
  </p>

  <p>
    <strong>Owner:</strong>
    <%= @property.user.fullname %>
  </p>

  <%= link_to 'Edit', edit_condo_property_path(@condo, @property) %> |
  <%= link_to 'Back', condo_path(@condo) %>

<% end %>

<% content_for :secondary_content do %>
  <h1 class="text-lg text-gray-600">Your property !</h1>
<% end %>


<%= render "basic_layout" %>