<%= form_with(model: condo, local: true) do |form| %>
  <% if condo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(condo.errors.count, "error") %> prohibited this condo from being saved:</h2>

      <ul>
        <% condo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Address:", class:"block text-sm font-medium leading-5 text-gray-700" %>
    <%= form.text_field :name, class:"block w-1/2 mt-1 transition duration-150 ease-in-out form-input sm:text-sm sm:leading-5", placeholder: "Address" %>
  </div>
<div class="flex justify-end">

    <%= link_to 'Back', condos_path, class:"flex items-center mr-4 text-sm text-gray-500" %>
  
  <div class="flex actions">
    <%= form.submit class:"btn btn-blue btn-small" %>
  </div>
  </div>
<% end %>
