<% content_for :primary_content do %>


<div class="mb-4 ml-4 font-semibold text-blue-800">Expenses</div>

<table>
  <thead>
    <tr>
      <th>Nature</th>
      <th>Company</th>
      <th>Description</th>
      <th>Estimated</th>
      <th>Real</th>
      <th>Exercice</th>
      <th>Condo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.nature %></td>
        <td><%= expense.company %></td>
        <td><%= expense.description %></td>
        <td><%= expense.estimated %></td>
        <td><%= expense.real %></td>
        <td><%= expense.exercice %></td>
         <td><%= expense.condo.name %></td>
        <td><%= link_to 'Show', condo_expense_path(expense.condo, expense) %></td>
        <td><%= link_to 'Edit', edit_condo_expense_path(expense.condo, expense) %></td>
        <td><%= link_to 'Destroy', condo_expense_path(expense.condo, expense), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Expense', new_condo_expense_path %>
<br>
<%= link_to 'Back', condos_path %>


<% end %>

<%= render "basic_layout" %>