<% content_for :primary_content do %>

<div class="mb-4 ml-4 font-semibold text-blue-800">Expense</div>

<p>
  <strong>Nature:</strong>
  <%= @expense.nature %>
</p>

<p>
  <strong>Description:</strong>
  <%= @expense.description %>
</p>

<p>
  <strong>Estimated:</strong>
  <%= @expense.estimated %>
</p>

<p>
  <strong>Real:</strong>
  <%= @expense.real %>
</p>

<p>
  <strong>Exercice:</strong>
  <%= @expense.exercice %>
</p>

<p>
  <strong>Condo:</strong>
  <%= @expense.condo.name %>
</p>

<%= link_to 'Edit', edit_condo_expense_path(@expense.condo, @expense) %> |
<%= link_to 'Back', condo_budget_path(@condo) %>
<% end %>

<%= render "basic_layout" %>