<!DOCTYPE html>
<html>
  <head>
    <title>Syndic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class= "relative bg-gray-200">

    <% unless notice.nil? %>
      <p class="flex items-center justify-center h-10 pl-4 font-sans text-sm text-white bg-green-400 notice"><%= notice %></p>
    <% end %>
    <% unless alert.nil? %>
      <p class="flex items-center justify-center h-10 pl-4 font-sans text-sm text-white bg-green-400 alert"><%= alert %></p>
    <% end %>
    

    <nav class="flex flex-wrap items-center py-2 bg-white border-b border-gray-400 ">
      
      <% if user_signed_in? %>
      <%= link_to condos_path do %>
        <h1 class="pl-4 text-xl font-bold text-gray-700 ">SYNDIC</h1>
      <% end %>
      <% else %>
      <%= link_to root_path do %>
        <h1 class="pl-4 text-xl font-bold text-gray-700 ">SYNDIC</h1>
      <% end %>
      <% end %>
      

      <div class="flex flex-wrap ml-8">
        <% if user_signed_in? %>
          <%= link_to "Condos", condos_path, class:"btn btn-outline btn-small mr-2" %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"btn btn-outline btn-small mr-2" %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path, class:"btn btn-outline btn-small mr-2" %>
          <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-outline btn-small mr-2" %>
        <% end %>
      </div>

        <div class="flex flex-wrap items-center justify-end flex-1 w-full mr-6">
        <% if user_signed_in? %>
          <%= link_to "#", class:"pl-2 pr-2 py-3 text-xs border border-gray-200 uppercase justify-between rounded-sm text-gray-600 font-semibold hover:bg-gray-100 items-center tracking-wide w-auto" do %>
            <%= current_user.email if current_user.email %>
          <% end %>
        <% else %>

        <% end %>
        </div>
      
    </nav>
   
    
    
    <%= yield %>
      
    
  </body>

</html>
